<div class="container">
    <!-- PROJECTS LIST -->
    <div class="col-50">
      <app-recruitment-info-list
      [projects]="projects$ | async"
      (selected)="selectProject($event)"
      (deleted)="deleteProject($event)">
    </app-recruitment-info-list>
    </div>
    <!-- PROJECT DETAILS -->
    <div class="col-50">
      <app-recruitment-info-details
      [project]="selectedProject"
      (saved)="saveProject($event)"
      (cancelled)="cancel($event)"></app-recruitment-info-details>
    </div>
  </div>