<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h1>Todo Lists</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-expansion-panel *ngFor="let todolist of todoLists;trackBy:trackByFunc" >
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{todolist.name}}
                    </mat-panel-title>
                    <mat-panel-description>

                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-card-content>
                    <mat-list>
                        <app-single-task *ngFor="let task of todolist.tasks"
                        (statusChange)=ChangeStatus(task)
                        [task]="task"
                        (deleted)=Delete(task)></app-single-task>
                    </mat-list>
                </mat-card-content>
            </mat-expansion-panel>
        </mat-list>
    </mat-card-content>
</mat-card>
