<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Applications</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let project of projects" (click)="selected.emit(project)" [ngClass]="{'answered': project.companyReply}">
        <h2 mat-line>
          {{project.companyName}}
        </h2>
        <p mat-line>
          <span> City: </span>
          <span class="bold"> {{project.city}} </span>
        </p>
        <p mat-line>
          <span> Workplace: </span>
          <span class="bold"> {{project.workPlace}}</span>
        </p>
        <p mat-line *ngIf="project.dateOfCompanyReply">
          <span> Date of company reply: </span>
          <span class="bold"> {{project.dateOfCompanyReply}}</span>
        </p>
        <p mat-line>
          <span> Application date: </span>
          <span class="bold"> {{project.applicationDate | date:'mediumDate'}}</span>
        </p>
        <p mat-line>
          <span> Company reply: </span>
          <span class="bold"> {{project.companyReply | date:'mediumDate'}}</span>
        </p>
        <p mat-line>
          <span> Notes: </span>
          <span class="bold"> {{project.notes}}</span>
        </p>
        <p mat-line *ngIf="project.linkToApplication">
          <span> Link to application: </span>
          <span class="bold"> {{project.linkToApplication}}</span>
        </p>

        <button mat-icon-button (click)="delete(project);$event.stopImmediatePropagation();">
          <mat-icon>close</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
