<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h1>Todo Lists</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-expansion-panel *ngFor="let todolist of todoLists">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{todolist.name}}
                    </mat-panel-title>
                    <mat-panel-description>

                    </mat-panel-description>
                </mat-expansion-panel-header>

                <mat-card-content>
                    <mat-list>
                        <mat-list-item *ngFor="let task of todolist.tasks">
                            <p mat-line>
                                <span class="bold"> {{task.description}} </span>
                            </p>
                            <section>
                                <mat-checkbox [(ngModel)]="task.status" name="status">Done?</mat-checkbox>
                            </section>
                            <section>
                                <button mat-icon-button
                                    (click)="deleted.emit(project);$event.stopImmediatePropagation();">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </section>
                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-expansion-panel>

        </mat-list>
    </mat-card-content>
</mat-card>